tabulate==0.8.7
Pillow==7.1.1
torch==1.4.0
scikit-learn==0.19.1
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
dateparser==0.6.0
docopt==0.6.2
elasticsearch==7.5.1
idna==2.6
iso8601==0.1.12
keyring==10.1
keyrings.alt==1.3
np==1.0.2
numpy==1.16.4
pyasn1==0.1.9
python-dateutil==2.6.1
pytz==2017.2
pyxdg==0.26
regex==2017.9.23
requests==2.20.0
requests-file==1.4.2
ruamel.yaml==0.15.34
SecretStorage==2.3.1
six==1.11.0
tzlocal==1.4
urllib3==1.24.2
pandas==0.22.0
netaddr==0.7.19
lxml==4.6.3
croniter==0.3.20
millify==0.1.1
tld==0.9.1
validators==0.12.6
pygrok==1.0.0
py-spy==0.1.5
flake8==3.7.5
coverage==4.5.3
vulture==1.0
sentry-sdk==0.10.2
scipy==1.0.1